body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: grid;
    place-content: center;
}

.galeria {
    width: 300px;
    height: 300px;
    padding: 20px;
    display: grid;
    place-content: center;
    overflow: hidden;
}

.lista img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin-right: 10px;
    display: block;
}

img {
    display: grid;
    place-content: center;
}

.lista {
    width: 350px;
    height: 350px;
    display: flex;
    overflow: auto;
}

.flechas {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}